body
{
background-image:url('Pozadina.jpg');
background-color:#CCCCCC;
}

.left
{
width:15%;
float:left;
margin:0%;
}

nav
{
margin-top:5%;
width:800px;
margin:auto;
margin-top:3%;
margin-bottom:0%;
}

img
{
height:220px;
width:150px;
float:left;
margin-right:3%;
}

h1.hidden 
{
display:none;
}

h1.naslov
{
text-align:center;
font-size:28px;
}

h1
{
margin:0;
margin-bottom:2%;
font-size:28px;
}

nav.izbornik
{
width:150px;
margin:0px;
padding:0px;
}

ul.izbornik
{
list-style-type:none;
overflow:hidden;
border:solid;
padding-right:2px;
}

li.izbornik
{
font-weight:bold;
display:block;
height:20px;
width:135px;
margin:2px;
margin-right:2px;
outline:red solid;
}

#MainContainer
{
width:1000px;
margin:auto;
}

.tekst
{
font-family:"Times New Roman", Times, serif;
font-size:18px;
border:dotted 5px black;
height:100%;
width:66%;
float:left;
margin-left:1%;
margin-bottom:5%;
padding:2%;
text-align:justify;
background-color:#504A4B;
}

#tekst
{
font-family:"Times New Roman", Times, serif;
font-size:18px;
border:dotted 5px black;
width:666px;
margin:auto;
margin-bottom:5%;
padding:2%;
text-align:justify;
background-color:#504A4B;
}

h2, h3, h4
{
margin:0;
margin-bottom:2%;
}

p
{
margin:0;
margin-bottom:1%;
text-indent:5%;
}

ul
{
padding:0;
text-align:center;
margin:0%;
}

li
{
display:inline-block;
font-family:"Times New Roman", Times, serif;
float:none;
border:solid black 3px;
width:150px;
font-size:28px;
margin:6%;
}

p.tekst
{
margin:0;
font-size:24px;
text-align:left;
}

a:link,a:visited
{
font-family:"Times New Roman", Times, serif;
background-color:none;
text-decoration:none;
position:relative;
top:0px;
margin:0px;
color:#000;
}

a.izbornik
{
font-size:15px;
display:block;
color:#000;
}

a.lista
{
border:solid #000 3px;
}

a.linkovi
{
text-decoration:underline;
}

a.škole
{
border:none;
text-decoration:underline;
}

a:hover,a:active
{
background-color:grey;
}

li:hover
{
background-color:grey;
}

table
{
border-collapse:collapse;
border:3px solid black;
}

td
{
border:3px solid black;
width:50px;
text-align:center;
}

td.vrijednosti
{
width:100px;
}

#regstroj
{
border:solid 2px;
width:350px; 
height:200px;
float:left;
margin:1%;
}

canvas
{
border:solid 2px;
width:150px; 
height:90px;
float:none;
text-align:center;
display:inline;
text-align:center;
}

#iskaz
{
border:solid 2px;
width:60%; 
height:100%;
float:none;
}

#zaključak
{
border:solid 2px;
width:60%; 
height:100%;
float:none;
margin:0%;
}

#stablo
{
border:solid 2px;
width:90%; 
height:110%;
float:none;
margin:0%;
}

.canvas-container 
{
width: 100%;
text-align:center;
}

p.podatci
{
margin-top:3%;
margin-left:10%;
font-weight:bold;
}

p.udubljenje
{
margin-left:15%;
margin-bottom:2%;
margin-top:-1%;
}

p.period
{
margin-left:10%;
margin-bottom:1%;
margin-top:2%;
font-weight:bold;
font-size:20px;
}

div.pitanja
{
position:relative;
left:17%;
}

p.firma
{
font-weight:bold;
text-indent:17%;
margin-top:0%;
}

p.naziv
{
text-indent:20%;
margin-top:0%;
}

p.posao
{
text-indent:23%;
margin-top:0%;
}

a.škole
{
border:none;
text-decoration:underline;
}

li.shadow
{
box-shadow: 4px 4px 4px #080808;
}

li.shadow:hover
{
box-shadow: 0px 0px 0px #080808;
}
