body
{
background-image:url('Pozadina.jpg');
}

nav
{
margin-top:5%;
}

h1
{
text-align:center;
font-size:28px;
}

p.podatci
{
margin-left:10%;
font-weight:bold;
}

p.udubljenje
{
margin-left:15%;
margin-bottom:2%;
margin-top:-1%;
}

p.period
{
margin-left:15%;
margin-bottom:2%;
margin-top:-1%;
font-weight:bold;
font-size:20px;
}

div.pitanja
{
position:relative;
left:17%;
}


#tekst
{
z-index:-1;
font-family:"Times New Roman", Times, serif;
font-size:18px;
border:dotted 5px black;
height:100%;
width:66%;
margin:15%;
margin-top:2%;
margin-bottom:5%;
padding:2%;
background-color:#504A4B;
}

ul
{
padding:0;
text-align:center;
margin:0%;
}


li
{
display:inline;
font-family:"Times New Roman", Times, serif;
font-size:28px;
margin:6%;
}

a:link,a:visited
{
font-family:"Times New Roman", Times, serif;
background-color:none;
text-decoration:none;
position:relative;
top:0px;
color:black;
margin:0px;
border:solid;
}

a.škole
{
border:none;
text-decoration:underline;
}

a:hover,a:active
{
background-color:grey;
}

p.firma
{
font-weight:bold;
text-indent:17%;
margin-top:-1%;
}

p.naziv
{
text-indent:20%;
margin-top:-2%;
}

p.posao
{
text-indent:23%;
margin-top:-2%;
}